extends ../layouts/application.pug

block header
  = t('views.users.edit.edit')

block content
  +formFor()(action=route('updateUser', { id: currentUser.id.toString() }) method='post')
    input(type="hidden", name="_method", value="patch")
    +input(_, 'firstName', errors)(type="text", value=currentUser.firstName)
    +input(_, 'lastName', errors)(type="text", value=currentUser.lastName)
    +input(_, 'email', errors)(type="email", value=currentUser.email)
    +input(_, 'password', errors)(type="password")
    +submit()(value=t('views.users.edit.submit'))
