extends ../layouts/application.pug

block header
  = t('views.statuses.statuses')

block content
  a.btn.btn-primary.mb-3(href=(route('newStatus')))= t('views.statuses.new.createStatus')
  table.table.table-striped
    thead
      tr
        th= t('views.statuses.id')
        th= t('views.statuses.name')
        th= t('views.statuses.createdAt')
        th= t('views.statuses.actions')
    tbody
      each status in statuses
        tr
          td= status.id
          td= status.name
          td= formatDate(status.createdAt)
          td
            .d-flex.gap-2
              a.btn.btn-primary(href=route('editStatus', { id: status.id.toString() }))= t('layouts.application.edit')
              +buttonTo(route('deleteStatus', { id: status.id.toString() }), 'delete')(value=t('layouts.application.delete')).btn.btn-danger
