extends ../layouts/application.pug

block header
  = t('views.labels.labels')

block content
  a.btn.btn-primary.mb-3(href=(route('newLabel')))= t('views.labels.new.createLabel')
  table.table.table-striped
    thead
      tr
        th= t('views.labels.id')
        th= t('views.labels.name')
        th= t('views.labels.createdAt')
        th= t('views.labels.actions')
    tbody
      each label in labels
        tr
          td= label.id
          td= label.name
          td= formatDate(label.createdAt)
          td
            .d-flex.gap-2
              a.btn.btn-primary(href=route('editLabel', { id: label.id.toString() }))= t('layouts.application.edit')
              +buttonTo(route('deleteLabel', { id: label.id.toString() }), 'delete')(value=t('layouts.application.delete')).btn.btn-danger
