extends ../layouts/application.pug

block header
  = t('views.tasks.edit.editTask')

block content
  +formFor()(action=route('updateTask', { id: task.id }) method='post')
    input(type="hidden", name="_method", value="patch")
    +input(task, 'name', errors)(type="text", value=task.name)
    +input(task, 'description', errors)(type="text", value=task.description)
    if statuses
      +select(task, 'statusId', t('views.tasks.selectStatus'), errors)
        each status, index in statuses
          option(value=status.id, selected=status.id===task.statusId)= status.name
    if labels
      +select(task, 'labelIds', t('views.tasks.selectLabels'), errors)(multiple)
        each label, index in labels
          - selected = task.labels ? task.labels.some(taskLabel => label.id===taskLabel.id) : false;
          option(value=label.id, selected=selected)= label.name
    if users
      +select(task, 'executorId', t('views.tasks.selectExecutor'), errors)
        option(value='')= t('views.tasks.noExecutor')
        each user, index in users
          option(value=user.id, selected=user.id===task.executorId)= `${user.firstName} ${user.lastName}`

    +submit()(value=t('views.tasks.edit.submit'))
